APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mandrill
MAIL_HOST=smtp.mandrillapp.com
MAIL_PORT=587
//Your Mandrill email (e.g. example.com)
MAIL_USERNAME=
//Your Mandrill api key (e.g. d9hvhS1g9wWDEczb219YOJ)
MANDRILL_SECRET=

//Site name shown in the title (e.g. Example.com)
SITE_NAME=
//Email for your Cloudflare api (e.g. example@gmail.com)
CLOUDFLARE_EMAIL=
//Your Cloudflare api key (e.g. qlbidPfSmqjcVqRQcfqHsgqmafbhc8Dp3ZSoH)
CLOUDFLARE_API=
//Your Cloudflare domain name (e.g. example.com)
CLOUDFLARE_DOMAIN=